<footer>
    <br>
    <div class="elemento-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin</p>
        <p>interés con tarjeta o efectivo en puntos de</p>
        <p>pago. ¡Y siempre es seguro!</p>

    </div>
    <div class="elemento-footer">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre</p>
        <p>tenés envíos gratis en miles de productos. Es</p>
        <p>un beneficio de Mercado Puntos.</p>
    </div>
    <div class="elemento-footer">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
        <p>hay nada que no puedas hacer, porque </p>
        <p>estás siempre protegid@.</p>
    </div>
</footer>